<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button><ion-icon name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="share-social"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="image-container">
    <img src="./../../assets/images/course1.jpg">
    <div class="item-overlay">
      <div class="title">
      <ion-text>The Benefits of Practicing</ion-text><br>
      <ion-text color="danger">Mindfulness</ion-text><br>
      <ion-text>Meditation</ion-text>
    </div>
      <hr class="line">
      <p>In today's fast-paced world, many people struggle with stress, anxiety, and other mental health issues. While
        there are many treatments available, mindfulness meditation is a popular and effective way to manage these
        conditions. In this blog post, we'll explore the benefits of practicing mindfulness meditation.
      </p>
      <p>
        What is mindfulness meditation?

        Mindfulness meditation is a practice that involves focusing your attention on the present moment. This can
        involve observing your breath, your bodily sensations, or your thoughts and emotions without judgment. The goal
        is to develop a state of awareness that is non-judgmental, curious, and compassionate.
      </p>
      <hr class="line">
      <div class="social-media">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
      
    </div>
  </div>

</ion-content>