<ion-content fullscreen>
    <div class="main-div">
        <div #lottieDiv class="lottie-div"></div>
    </div>

    <div class="contacts">
        <div class="segment">
            <ion-icon name="pin"></ion-icon>
            <ion-label>
                <h2>Location</h2>
                <p>42 Oakwood Avenue, London, SE10 8JQ</p>
                <p>United Kingdom</p>
            </ion-label>
        </div>


        <div class="segment">
            <ion-icon name="call"></ion-icon>
            <ion-label>
                <h2>Contact</h2>
                <p>+44 7912 345678</p>
                <p>+44 20 1234 5678</p>
            </ion-label>
        </div>

        <div class="segment">
            <ion-icon name="time"></ion-icon>
            <ion-label>
                <h2>Open Hours</h2>
                <p>Monday - Friday</p>
                <p>8AM - 5PM</p>
                <br>
                <p>Saturday & Sunday</p>
                <p>8AM - 12PM</p>
            </ion-label>
        </div>

    </div>

      
</ion-content>
<ion-footer>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#f7ff00"/>
                <stop offset="100%" stop-color="#00f4ff"/>
              </linearGradient>
        </defs>
        <path fill="url(#gradient)" fill-opacity="1" d="M0,192L48,165.3C96,139,192,85,288,80C384,75,480,117,576,149.3C672,181,768,203,864,181.3C960,160,1056,96,1152,90.7C1248,85,1344,139,1392,165.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
</ion-footer>