<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button><ion-icon name="menu"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="share-social"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="title">Children Orphanage Fundraising</ion-title>

  <img src="./../../assets/images/course2.jpg" class="main-img">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="funds">
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>
            <h2>$4,500</h2>
            <p>Total Target</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item  class="funds">
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>
            <h2>$1,500</h2>
            <p>Raised</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-progress-bar value=".33"></ion-progress-bar>

  <ion-card class="org">
    <ion-item>
      <ion-avatar><img src="./../../assets/images/person.jpg"></ion-avatar>
      <ion-label>
        <h2>Global Sun Organization</h2>
        <p>Philipine</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <p class="desc">Help us provide a safe and nurturing home for children who have lost their parents. Your support can make a big
    difference in the lives of these vulnerable children. With your donation, we can provide them with a roof over their
    heads, nutritious meals, healthcare, and education. Join us in our mission to give these children a chance to thrive
    and build a brighter future. Donate now to our Children Orphanage Fundraising campaign.</p>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button class="footer-btn">Donate Now</ion-button>
</ion-footer>