<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Courses</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="courses">
    <ion-grid>
      <ion-row>
        <ion-col class="bar-col">
          <div  class="bar1">
            <div
            class="ldBar label-center"
            style="width:90px;height:90px"
            data-value="75"
            data-preset="circle"
          ></div>
          </div>
        </ion-col>
        <ion-col>
          <ion-label >
            <h2>Ionic & Angular</h2>
            <p>Mr Ionic</p>
          </ion-label>
          <ion-chip class="chip1">5 Videos</ion-chip>
          <ion-chip class="chip2">10 PDFs</ion-chip>

        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card>

  <ion-card class="courses">
    <ion-grid>
      <ion-row>
        <ion-col class="bar-col">
          <div  class="bar1">
            <div
            class="ldBar label-center"
            style="width:90px;height:90px"
            data-value="25"
            data-preset="circle"
          ></div>
          </div>
        </ion-col>
        <ion-col>
          <ion-label >
            <h2>HTML & CSS</h2>
            <p>Dave Walker</p>
          </ion-label>
          <ion-chip class="chip1">3 Videos</ion-chip>
          <ion-chip class="chip2">5 PDFs</ion-chip>

        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card>


  <ion-card class="courses">
    <ion-grid>
      <ion-row>
        <ion-col class="bar-col">
          <div  class="bar1">
            <div
            class="ldBar label-center"
            style="width:90px;height:90px"
            data-value="45"
            data-preset="circle"
          ></div>
          </div>
        </ion-col>
        <ion-col>
          <ion-label >
            <h2>React</h2>
            <p>Ionic Dev</p>
          </ion-label>
          <ion-chip class="chip1">4 Tests</ion-chip>
          <ion-chip class="chip2">10 PDFs</ion-chip>

        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card>


  <ion-card class="courses">
    <ion-grid>
      <ion-row>
        <ion-col class="bar-col">
          <div  class="bar1">
            <div
            class="ldBar label-center"
            style="width:90px;height:90px"
            data-value="15"
            data-preset="circle"
          ></div>
          </div>
        </ion-col>
        <ion-col>
          <ion-label >
            <h2>Introduction to Designing</h2>
            <p>Mr Ionic</p>
          </ion-label>
          <ion-chip class="chip1">2 Videos</ion-chip>
          <ion-chip class="chip2">5 PDFs</ion-chip>

        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card>

  <ion-card class="courses">
    <ion-grid>
      <ion-row>
        <ion-col class="bar-col">
          <div  class="bar1">
            <div
            class="ldBar label-center"
            style="width:90px;height:90px"
            data-value="85"
            data-preset="circle"
          ></div>
          </div>
        </ion-col>
        <ion-col>
          <ion-label >
            <h2>Marketing</h2>
            <p>Mr Ionic</p>
          </ion-label>
          <ion-chip class="chip1">5 Videos</ion-chip>
          <ion-chip class="chip2">10 PDFs</ion-chip>

        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card>
</ion-content>
