<ion-content>
<ion-card class="main-card">
    <br>
    <ion-avatar><img src="./../../assets/images/person.jpg"></ion-avatar>
    <br>
    <h2 class="card-title">John Watson</h2>
<p class="card-subtitle">Mobile App Developer</p>
<br>
<ion-grid>
    <ion-row>
        <ion-col>
            <h2><b>48K</b></h2>
            <p>Followers</p>
        </ion-col>
        <ion-col class="mid-col">
            <h2><b>500</b></h2>
            <p>Projects</p>
        </ion-col>
        <ion-col>
            <h2><b>4</b></h2>
            <p>Years</p>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-card>

<div class="badge-div">
    <ion-badge color="primary">Ionic</ion-badge>
<ion-badge color="secondary">Angular JS</ion-badge>
<ion-badge color="success">Flutter</ion-badge>
<ion-badge color="danger">Dart</ion-badge>
</div>



<ion-item>
    <ion-title slot="start">Projects</ion-title>
    <ion-button fill="clear" slot="end" color="success">View all</ion-button>
</ion-item>


<ion-item class="projects" detail="true">
    <ion-avatar><img src="./../../assets/images/flower.gif"></ion-avatar>
    <ion-label>
        <p class="title">Taxi Booking App</p>
        <p>Completed</p>
    </ion-label>
</ion-item>

<ion-item class="projects" detail="true">
    <ion-avatar><img src="./../../assets/images/flower.gif"></ion-avatar>
    <ion-label>
        <p class="title">E-commerce App</p>
        <p>Project in progress</p>
    </ion-label>
</ion-item>

<ion-item class="projects" detail="true">
    <ion-avatar><img src="./../../assets/images/flower.gif"></ion-avatar>
    <ion-label>
        <p class="title">MAgazine App</p>
        <p>Completed</p>
    </ion-label>
</ion-item>

<ion-item class="projects" detail="true">
    <ion-avatar><img src="./../../assets/images/flower.gif"></ion-avatar>
    <ion-label>
        <p class="title">Quiz App</p>
        <p>Completed</p>
    </ion-label>
</ion-item>
</ion-content>
