ion-header{
  --background:transparent !important;
    ion-toolbar{
      --background:transparent !important;
    }
  }
  .title{
      font-family: 'Oxygen';
      font-weight: bold;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .img-div{
      height: 40%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 15px;
  
      img {
          max-width: 100%;
      }
  }
  
  .about{
      .date{
          font-family: 'Tilt Neon';
          background: linear-gradient(to right, #1e130c, #9a8478);
      }
  
      .author{
          font-family: 'Tilt Neon';
          margin-left: 20px;
          background: linear-gradient(to right, #1e130c, #9a8478);
      }
    
  }
  
  .desc{
      font-family: 'Oxygen';
      margin: 10px;
      font-size: 20px;
  }

  
  .comment {
      margin: 10px;
      padding-top: 5px;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
      border-radius: 25px;
      .avatar-col{
        max-width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content-col{
         h2{
          margin-top: 18px;
          font-size: 20px;
          font-weight: bold;
          font-family: 'Oxygen';
         }
         .content{
          font-family: 'Tilt Neon';
         }

         ion-item{
          margin-top: -20px;
          .date{
            font-size: 12px;
            font-family: 'Tilt Neon';
           }
           ion-button{
            font-family: 'Tilt Neon';
           }
         }

     
      }
    
    
    }
    

      .toolbox{
          color: #fffefa;
      --background: linear-gradient(to right, #36d1dc, #5b86e5);
        .comment-btn{
          --background: linear-gradient(to right, #ff416c, #ff4b2b);
          ion-label{
              padding-left: 10px;
              font-family: 'Tilt Neon';
          }
        }

          
  .comment-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Tilt Neon';
    font-weight: bold;
}
      }
  