<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='' text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Customized Loadings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/1.png">
        <ion-button (click)="presentLoading1()">Loading 1</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/2.png">
        <ion-button (click)="presentLoading2()">Loading 2</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/3.png">
        <ion-button (click)="presentLoading3()">Loading 3</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/4.png">
        <ion-button (click)="presentLoading4()">Loading 4</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/5.png">
        <ion-button (click)="presentLoading5()">Loading 5</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/6.png">
        <ion-button (click)="presentLoading6()">Loading 6</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/7.png">
        <ion-button (click)="presentLoading7()">Loading 7</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/8.png">
        <ion-button (click)="presentLoading8()">Loading 8</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/9.png">
        <ion-button (click)="presentLoading9()">Loading 9</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/loadings/10.png">
        <ion-button (click)="presentLoading10()">Loading 10</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
