<ion-content>
  <ion-item class="title">
    <ion-label slot="start" >
      <h2>Power Usage</h2>
      <p>April,2023</p>
    </ion-label>
    <ion-button slot="end" fill="clear"><ion-icon name="person"></ion-icon></ion-button>
  </ion-item>
  <div  class="bar2">
    <div
    class="ldBar label-center"
    style="width:300px;height:300px;margin-right: auto;margin-left: auto;"
    data-value="85"
    data-stroke="data:ldbar/res,gradient(0,1,#f99,#bd15b5)"
    data-preset="circle"
  ></div>
  </div>

  <div class="items-div">
  <ion-item class="usage-items">
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label class="text-label">
      <h2>Washing Machine</h2>
      <p>1500 W</p>
    </ion-label>
    <ion-label slot="end" class="percent-label">
      <h2>25%</h2>
      <p>50 kWh</p>
    </ion-label>
  </ion-item>

  <ion-item class="usage-items">
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label class="text-label">
      <h2>Water Heater</h2>
      <p>2500 W</p>
    </ion-label>
    <ion-label slot="end" class="percent-label">
      <h2>15%</h2>
      <p>30 kWh</p>
    </ion-label>
  </ion-item>

  <ion-item class="usage-items">
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label class="text-label">
      <h2>Ceiling Fans</h2>
      <p>500 W</p>
    </ion-label>
    <ion-label slot="end" class="percent-label">
      <h2>25%</h2>
      <p>10 kWh</p>
    </ion-label>
  </ion-item>

  <ion-item class="usage-items">
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label class="text-label">
      <h2>Microwave Oven</h2>
      <p>2500 W</p>
    </ion-label>
    <ion-label slot="end" class="percent-label">
      <h2>15%</h2>
      <p>10 kWh</p>
    </ion-label>
  </ion-item>

  <ion-item class="usage-items">
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label class="text-label">
      <h2>LED Television</h2>
      <p>100 W</p>
    </ion-label>
    <ion-label slot="end" class="percent-label">
      <h2>5%</h2>
      <p>5 kWh</p>
    </ion-label>
  </ion-item>
  </div>
</ion-content>
