<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fried Rice</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content fullscreen>


  

</ion-content>

<ion-footer>
  <div class="container">
    <div class="blur">
      <h2>Seafood Fried Basmati Rice With Tomato Sauce</h2>
 <app-star-rating slot="end" [rating]="5" class="star-rating"></app-star-rating>
 <p>Seafood fried rice is a delicious and savory dish that combines fluffy rice with a variety of fresh seafood, including shrimp, squid, and scallops. The rice is stir-fried with vegetables like carrots, peas, and green onions, and seasoned with garlic, soy sauce, and oyster sauce for an umami-rich flavor. </p>

 <ion-grid>
  <ion-row>
    <ion-col>
      <ion-button fill="outline">Small</ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="outline">Medium</ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="outline">Large</ion-button>
    </ion-col>
  </ion-row>
 </ion-grid>


</div>  </div>
<ion-button class="buy-btn" expand="full">Ask Prices</ion-button>
</ion-footer>
