<ion-header class="ion-no-border">
  <ion-toolbar  color="primary">
    <ion-avatar slot="start">
      <img src="https://randomuser.me/api/portraits/women/2.jpg">
    </ion-avatar>
    <ion-label>
      <h2>London, UK</h2>
      <p>Job Portal</p>
    </ion-label>
   
    <ion-buttons slot="end">
      <ion-button size="large">
        <ion-icon name="notifications" color="light"></ion-icon>
        <ion-badge>2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="icons-row">
    <ion-col>
      <ion-button fill="clear">
        <ion-icon name="car"></ion-icon>
      </ion-button>
      <ion-label>Delivery</ion-label>
    </ion-col>
    <ion-col>
      <ion-button fill="clear">
        <ion-icon name="accessibility"></ion-icon>
      </ion-button>
      <ion-label>Education</ion-label>
    </ion-col>
    <ion-col>
      <ion-button fill="clear">
        <ion-icon name="airplane"></ion-icon>
      </ion-button>
      <ion-label>Remote</ion-label>
    </ion-col>
    <ion-col>
      <ion-button fill="clear">
        <ion-icon name="bulb"></ion-icon>
      </ion-button>
      <ion-label>Marketing</ion-label>
    </ion-col>
  </ion-row>
  
  <ion-item class="title-item">
    <ion-label>
      <h2>Mon, 4th April 2023</h2>
    </ion-label>
    <ion-button fill="clear">
      <ion-icon name="cloudy-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon name="sunny-outline"></ion-icon>
    </ion-button>
  </ion-item>


  <ion-card class="post-card">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://randomuser.me/api/portraits/women/2.jpg">
      </ion-avatar>
      <ion-label>
        <h2>John Joe</h2>
        <p>132 Main ave, London, UK</p>
      </ion-label>
      <ion-button fill="clear">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper felis vitae augue semper</p>
    </ion-card-content>
    <ion-item>
      <ion-button fill="clear">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Like</ion-label>
      </ion-button>
   
      <p slot="end">1 hour ago</p>
    </ion-item>
  </ion-card>

  <ion-card class="post-card">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://randomuser.me/api/portraits/women/2.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Emily Watson</h2>
        <p>13 Baker ave, London, UK</p>
      </ion-label>
      <ion-button fill="clear">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      <h2>Consectetur adipiscing elit</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper felis vitae augue semper</p>
    </ion-card-content>
    <ion-item>
      <ion-button fill="clear">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Like</ion-label>
      </ion-button>
   
      <p slot="end">2 hour ago</p>
    </ion-item>
  </ion-card>

  <ion-card class="post-card">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://randomuser.me/api/portraits/women/2.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Keep Hailey</h2>
        <p>2 Main ave, London, UK</p>
      </ion-label>
      <ion-button fill="clear">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      <h2>Donec semper felis vitae</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper felis vitae augue semper</p>
    </ion-card-content>
    <ion-item>
      <ion-button fill="clear">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Like</ion-label>
      </ion-button>
   
      <p slot="end">3 hour ago</p>
    </ion-item>
  </ion-card>
</ion-content>
