<ion-content>
  <div class="container">
    <div class="box">
 
    </div>
    <div class="icon-bar">
      <ion-item >
        <ion-buttons slot="end">
          <ion-button slot="end">
            <ion-icon name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div #lottieDiv1></div>
    </div>
  </div>

  <div class="text-content">
    <h1>Ride!</h1>
    <br>
    <p>Start your ride with the leading Taxi partner for lowest cost</p>
  </div>

  <div class="bottom-fixed">
    <ion-button shape="round" size="large" > 
      <ion-label>  Start Now</ion-label>
    
     </ion-button>  
  </div>
</ion-content>
