<ion-content>
  <div class="main-section">
    <ion-title class="title">London, UK</ion-title>
    <p class="subtitle">Saturday, April 25</p>
    <div class="temperature-container">
      <p class="temperature">21&#8451;</p>
      <p class="weather-desc">Mostly raining</p>
    </div>
    <div class="button-container">
      <ion-button color="primary" class="time-btn" fill="clear" size="large">
        <ion-icon name="partly-sunny-outline"></ion-icon>
        <ion-label>8:00 AM</ion-label>
        
      </ion-button>
      <ion-button color="primary" class="time-btn" fill="clear" size="large">
        <ion-icon name="partly-sunny-outline"></ion-icon>
        <ion-label>12:00 PM</ion-label>
        
      </ion-button>
    </div>
  </div>
  <ion-item class="blue-item">
    <ion-label class="time">09.30</ion-label>
    <ion-label class="location">London</ion-label>
    <ion-label class="temp">19&#8451;</ion-label>
    <ion-icon class="icon" slot="end" name="rainy-outline"></ion-icon>
  </ion-item>
  <ion-item class="clear-item">
    <ion-label class="time">09.30</ion-label>
    <ion-label class="location">Tokyo</ion-label>
    <ion-label class="temp">15&#8451;</ion-label>
    <ion-icon class="icon" slot="end" name="rainy-outline"></ion-icon>
  </ion-item>
  <ion-item class="blue-item">
    <ion-label class="time">09.30</ion-label>
    <ion-label class="location">Paris</ion-label>
    <ion-label class="temp">25&#8451;</ion-label>
    <ion-icon class="icon" slot="end" name="rainy-outline"></ion-icon>
  </ion-item>
  <ion-item class="clear-item">
    <ion-label class="time">09.30</ion-label>
    <ion-label class="location">Milano</ion-label>
    <ion-label class="temp">12&#8451;</ion-label>
    <ion-icon class="icon" slot="end" name="rainy-outline"></ion-icon>
  </ion-item>
</ion-content>
