<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='' text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Chart Bank - Apache ECharts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 01
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer1 style="width: 100%; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 02
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer2 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 03
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer3 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 04
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer4 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 05
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer5 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 06
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer6 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 07
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer7 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 08
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer8 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 09
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer9 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 10
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer10 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 11
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer11 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 12
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer12 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 13
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer13 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 14
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer14 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 15
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer15 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 16
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer16 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 17
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer17 style="width: 300px; height: 400px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 18
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer18 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 19
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer19 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 20
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer20 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 21
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer21 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 22
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer22 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 23
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer23 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 24
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer24 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 25
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer25 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 26
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer26 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 27
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer27 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 28
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer28 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 29
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer29 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Chart 30
            </ion-card-header>
            <ion-card-content>
              <div #chartContainer30 style="width: 300px; height: 300px;"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>



  </div>
</ion-content>