<ion-header class="header-no-shadow">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Out Team
    </ion-title>
    <ion-buttons  slot="end">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <h2 class="description">"Our team consist of multinational talented team with high experience"</h2>
<div class="main">
  <ion-card class="card1">
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./../../../assets/images/person.jpg">
        </ion-avatar>
        <ion-label>
          <h2>John Doe</h2>
          <p>Senior App Developer</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
         <ion-icon name="person"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-row>
        <ion-col>
          <p>120</p>
          <p>Projects</p>
        </ion-col>
        <ion-col>
          <p>1200</p>
          <p>Likes</p>
        </ion-col>
        <ion-col>
          <p>2</p>
          <p>Years</p>
        </ion-col>
        <ion-col>
          <p>1</p>
          <p>Ranking</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="card2">
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./../../../assets/images/person.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Stephen John</h2>
          <p>Senior Web Developer</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
         <ion-icon name="person"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-row>
        <ion-col>
          <p>350</p>
          <p>Projects</p>
        </ion-col>
        <ion-col>
          <p>4500</p>
          <p>Likes</p>
        </ion-col>
        <ion-col>
          <p>3</p>
          <p>Years</p>
        </ion-col>
        <ion-col>
          <p>2</p>
          <p>Ranking</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="card3">
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./../../../assets/images/person.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Diana Watson</h2>
          <p>Senior Backend Developer</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
         <ion-icon name="person"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-row>
        <ion-col>
          <p>140</p>
          <p>Projects</p>
        </ion-col>
        <ion-col>
          <p>200</p>
          <p>Likes</p>
        </ion-col>
        <ion-col>
          <p>2</p>
          <p>Years</p>
        </ion-col>
        <ion-col>
          <p>3</p>
          <p>Ranking</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="card4">
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./../../../assets/images/person.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Emily Hai</h2>
          <p>Junior App Developer</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
         <ion-icon name="person"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-row>
        <ion-col>
          <p>80</p>
          <p>Projects</p>
        </ion-col>
        <ion-col>
          <p>900</p>
          <p>Likes</p>
        </ion-col>
        <ion-col>
          <p>1</p>
          <p>Years</p>
        </ion-col>
        <ion-col>
          <p>4</p>
          <p>Ranking</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="card5">
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./../../../assets/images/person.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Peter Cap</h2>
          <p>Junior Web Developer</p>
        </ion-label>
        <ion-button slot="end" fill="clear">
         <ion-icon name="person"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-row>
        <ion-col>
          <p>70</p>
          <p>Projects</p>
        </ion-col>
        <ion-col>
          <p>800</p>
          <p>Likes</p>
        </ion-col>
        <ion-col>
          <p>1</p>
          <p>Years</p>
        </ion-col>
        <ion-col>
          <p>5</p>
          <p>Ranking</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
