<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='' text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Customized Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/1.png">
        <ion-button (click)="viewAlert1()">Alert 1</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/2.png">
        <ion-button (click)="viewAlert2()">Alert 2</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/3.png">
        <ion-button (click)="viewAlert3()">Alert 3</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/4.png">
        <ion-button (click)="viewAlert4()">Alert 4</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/5.png">
        <ion-button (click)="viewAlert5()">Alert 5</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/6.png">
        <ion-button (click)="viewAlert6()">Alert 6</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/7.png">
        <ion-button (click)="viewAlert7()">Alert 7</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/8.png">
        <ion-button (click)="viewAlert8()">Alert 8</ion-button>
      </ion-col>
      <ion-col class="col">
        <img src="./../../../assets/images/alerts/9.png">
        <ion-button (click)="viewAlert9()">Alert 9</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
