<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="large">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fishing tower in North</ion-title>
    <ion-buttons slot="end">
      <ion-button size="large">
        <ion-icon name="heart" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <img src="./../../assets/tower.jpg" alt="placeholder image" />
  <ion-card>
    <ion-item lines="none">
      <ion-icon name="notifications" color="warning" slot="start"></ion-icon>
      <ion-label>
        <h2>Now Raining Heavily</h2>
        <p>In North</p>
      </ion-label>
      <ion-icon name="navigate" color="primary" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-row class="button-row">
    <ion-col size="3">
      <ion-button>
        <ion-icon class="icon1" name="camera"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button>
        <ion-icon class="icon2" name="videocam"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button>
        <ion-icon class="icon3" name="mic"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button>
        <ion-icon class="icon4" name="create"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisi euismod, malesuada sapien
    vitae, vestibulum magna. Proin efficitur urna sit amet enim bibendum, ut blandit odio interdum. Ut at ex ac quam
    dapibus tempor. Curabitur vestibulum tortor eu odio lacinia, eget fringilla est gravida. Nullam eu risus et risus
    bibendum eleifend. Nam blandit eu odio sed auctor. Aliquam vitae magna ante.</p>
  <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisi euismod, malesuada sapien
    vitae, vestibulum magna. Proin efficitur urna sit amet enim bibendum, ut blandit odio interdum. Ut at ex ac quam
    dapibus tempor. Curabitur vestibulum tortor eu odio lacinia, eget fringilla est gravida. Nullam eu risus et risus
    bibendum eleifend. Nam blandit eu odio sed auctor. Aliquam vitae magna ante.</p>
</ion-content>