<ion-content>

  <div class="main-div">
    <div class="title-div">
      <ion-title>$44,400</ion-title>
      <p>Maximum budget for May,2023</p>
    </div>
  </div>

  <ion-card class="main-card">
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="start"><img src="./../../assets/images/person.jpg"></ion-avatar>
        <ion-label>
          <h2>Food & Drinks</h2>
          <p>$6000/month</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>

      <div class="bar3">
        <div class="ldBar label-center" style="width:300px;height:50px;" data-value="50"
          data-stroke="data:ldbar/res,gradient(0,1,#f99,#ff9)"></div>
      </div>
      <p class="sub-para">Spent $3000 from $6000</p>


    </ion-card-content>
    <ion-item class="footer-item">
      <ion-label class="label">Good! Keep this upto end of the month</ion-label>
    </ion-item>
  </ion-card>


  <ion-card class="other-card">
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="start"><img src="./../../assets/images/person.jpg"></ion-avatar>
        <ion-label>
          <h2>Transport</h2>
          <p>$2000/month</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>

      <div class="bar3">
        <div class="ldBar label-center" style="width:300px;height:50px;" data-value="33"
          data-stroke="data:ldbar/res,gradient(0,1,#f99,#ff9)"></div>
      </div>
      <p class="sub-para">Spent $1000 from $3000</p>


    </ion-card-content>
    <ion-item class="footer-item">
      <ion-label class="label">Excellent! Keep it up</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="other-card">
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="start"><img src="./../../assets/images/person.jpg"></ion-avatar>
        <ion-label>
          <h2>Pets</h2>
          <p>$500/month</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>

      <div class="bar3">
        <div class="ldBar label-center" style="width:300px;height:50px;" data-value="20"
          data-stroke="data:ldbar/res,gradient(0,1,#f99,#ff9)"></div>
      </div>
      <p class="sub-para">Spent $100 from $500</p>


    </ion-card-content>
    <ion-item class="footer-item">
      <ion-label class="label">Good! Keep this upto end of the month</ion-label>
    </ion-item>
  </ion-card>
</ion-content>